.ring_counter {
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }

  50% {
    transform: scale(1.03);
    rotate: 180deg;
  }

  100% {
    transform: scale(1);
    rotate: 360deg;
  }
}