@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lobster {
  font-family: "Lobster Two", sans-serif;
  font-style: italic;
  text-align: center;
}

.lobster h2 {
  font-size: 1.75rem;
}

.lobster p {
  font-size: 1.25rem;
}